* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 80%;
  margin: 0 auto;
  color: #333;
}

.form-inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit {
  width: 150px;
  cursor: pointer;
}

.is-invalid {
  border-color: rgb(247, 88, 88);
  background-color: rgba(250, 149, 149, 0.438);
}

.error-msg {
  font-size: 0.6rem;
  color: snow;
  background-color: rgba(250, 149, 149, 0.986);
  margin-top: -1.2em;
  padding: 0.3em;
  border-radius: 5px;
}

.checkbox {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  gap: 1.5em;
}
